# Ignore the .vscode folder (Visual Studio Code settings)
.vscode/

# Ignore Python cache directories
__pycache__/
*.py[cod]

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
